<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mybatis.mapper.T_TaskMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.mybatis.model.T_Task">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="taskdesc" jdbcType="VARCHAR" property="taskdesc" />
    <result column="taskname" jdbcType="VARCHAR" property="taskname" />
    <result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="childeva" jdbcType="VARCHAR" property="childeva" />
    <result column="self_assessment" jdbcType="INTEGER" property="selfAssessment" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.example.demo.mybatis.model.T_TaskWithBLOBs">
    <result column="actualusingtime" jdbcType="LONGVARCHAR" property="actualusingtime" />
    <result column="parentcheck" jdbcType="LONGVARCHAR" property="parentcheck" />
  </resultMap>
  <sql id="Base_Column_List">
    id, taskdesc, taskname, starttime, endtime, childeva, self_assessment
  </sql>
  <sql id="Blob_Column_List">
    actualusingtime, parentcheck
  </sql>
  <select id="selectByNameOrTypeAndTime" parameterType="java.lang.String" resultType="com.example.demo.data.vo.UserAllTaskVo">
    select taskname, starttime, endtime,actualfinishtime
    from t_task
    where taskowner=#{taskowner,jdbcType=VARCHAR} 
    AND taskname LIKE concat("%",#{taskname,jdbcType=VARCHAR},"%")
    AND actualfinishtime is not null
    AND DATE(endtime)>=DATE_SUB(CURDATE(),INTERVAL 6 DAY)
    order by endtime
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultType="com.example.demo.data.vo.UserAllTaskVo">
    select taskdesc, taskname, starttime, endtime,id
    from t_task
    where taskowner=#{taskowner,jdbcType=VARCHAR} 
    and actualfinishtime is null
    order by endtime
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_task
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.mybatis.model.T_TaskWithBLOBs">
    insert into t_task (id, taskdesc, taskname, 
      starttime, endtime, childeva, 
      self_assessment, actualusingtime, parentcheck
      )
    values (#{id,jdbcType=INTEGER}, #{taskdesc,jdbcType=VARCHAR}, #{taskname,jdbcType=VARCHAR}, 
      #{starttime,jdbcType=DATE}, #{endtime,jdbcType=DATE}, #{childeva,jdbcType=VARCHAR}, 
      #{selfAssessment,jdbcType=INTEGER}, #{actualusingtime,jdbcType=LONGVARCHAR}, #{parentcheck,jdbcType=LONGVARCHAR}
      )
  </insert>
  
  <insert id="insertOne" parameterType="com.example.demo.mybatis.model.T_Task">
  insert into t_task (taskdesc, taskname, taskowner,starttime, endtime,tasktype)
    values (#{taskdesc,jdbcType=VARCHAR}, #{taskname,jdbcType=VARCHAR}, 
    #{taskowner,jdbcType=VARCHAR},#{starttime,jdbcType=TIMESTAMP}, 
    #{endtime,jdbcType=TIMESTAMP},#{tasktype,jdbcType=VARCHAR}) 
  </insert>
  <!-- 
  <insert id="insertSelective" parameterType="com.example.demo.mybatis.model.T_TaskWithBLOBs">
    insert into t_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="taskdesc != null">
        taskdesc,
      </if>
      <if test="taskname != null">
        taskname,
      </if>
      <if test="starttime != null">
        starttime,
      </if>
      <if test="endtime != null">
        endtime,
      </if>
      <if test="childeva != null">
        childeva,
      </if>
      <if test="selfAssessment != null">
        self_assessment,
      </if>
      <if test="actualusingtime != null">
        actualusingtime,
      </if>
      <if test="parentcheck != null">
        parentcheck,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="taskdesc != null">
        #{taskdesc,jdbcType=VARCHAR},
      </if>
      <if test="taskname != null">
        #{taskname,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=DATE},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=DATE},
      </if>
      <if test="childeva != null">
        #{childeva,jdbcType=VARCHAR},
      </if>
      <if test="selfAssessment != null">
        #{selfAssessment,jdbcType=INTEGER},
      </if>
      <if test="actualusingtime != null">
        #{actualusingtime,jdbcType=LONGVARCHAR},
      </if>
      <if test="parentcheck != null">
        #{parentcheck,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
   -->
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.mybatis.model.T_Task">
    update t_task
    <set>
      <if test="taskdesc != null">
        taskdesc = #{taskdesc,jdbcType=VARCHAR},
      </if>
      <if test="taskname != null">
        taskname = #{taskname,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        starttime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="childeva != null">
        childeva = #{childeva,jdbcType=VARCHAR},
      </if>
      <if test="selfAssessment != null">
        self_assessment = #{selfAssessment,jdbcType=INTEGER},
      </if>
      <if test="actualfinishtime != null">
        actualfinishtime = #{actualfinishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="parentcheck != null">
        parentcheck = #{parentcheck,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where
    id=#{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.example.demo.mybatis.model.T_TaskWithBLOBs">
    update t_task
    set taskdesc = #{taskdesc,jdbcType=VARCHAR},
      taskname = #{taskname,jdbcType=VARCHAR},
      starttime = #{starttime,jdbcType=DATE},
      endtime = #{endtime,jdbcType=DATE},
      childeva = #{childeva,jdbcType=VARCHAR},
      self_assessment = #{selfAssessment,jdbcType=INTEGER},
      actualusingtime = #{actualusingtime,jdbcType=LONGVARCHAR},
      parentcheck = #{parentcheck,jdbcType=LONGVARCHAR}
    where taskowner = #{taskowner,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.mybatis.model.T_Task">
    update t_task
    set taskdesc = #{taskdesc,jdbcType=VARCHAR},
      taskname = #{taskname,jdbcType=VARCHAR},
      starttime = #{starttime,jdbcType=DATE},
      endtime = #{endtime,jdbcType=DATE},
      childeva = #{childeva,jdbcType=VARCHAR},
      self_assessment = #{selfAssessment,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>